<mat-toolbar color="primary" class="mat-elevation-z6 giphy-navbar-header">
  <form class="giphy-form">
    <mat-form-field class="giphy-form-field" appearance="fill">
      <mat-label>Search Giphy</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of giphySearchOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-toolbar>
