.giphy-navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  min-height: 100px;
}

.giphy-form {
  font-size: 16px;
}

.giphy-form-field {
  width: 300px;
}
